body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #171717;
    padding: 20px;
}

h1 {    
    font-size: 2rem;
    margin-bottom: 20px;
}   

#gameArea {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border-radius: 40px;
}

#secretNumber {
    font-size: 3rem;
    padding: 10px;
    width: 80px;
    text-align: center;
    margin: 20px 0;
}

#inputArea {
    margin: 20px;
}

#guessButton, #resetButton {
    font-size: 1rem;
    padding: 10px 20px;
    color: rgb(21, 20, 20);
    border-radius: 5px;
    margin: 5px;
}


                
